node_modules/

# WebStorm
.idea/

#Hardhat files
artifacts/
cache/
typechain-types/
deployments/

chain/


agora/adjustment/fork_data.json
agora/config/cl/chain-config-bellatrix.yaml
agora/config/cl/chain-config-capella.yaml
agora/config/scan/default.config.yml
agora/nodes-capella/docker-compose.yml
agora/config/el/genesis-merge.json
agora/config/el/genesis-shanghai.json

temp-*

.env
agora/bazel/.docker/config.json

agora/wallet/bls_change/
